# Pandas GroupBy

In [7]:
# Imports
import pandas as pd

In [8]:
# Loading the data
df = pd.read_csv("cars.csv")

In [9]:
df

    Id       Make     Model   Color   Type  Accident Rate
0    1       Ford     Focus   Black  Sedan              3
1    2       Ford   Mustang   Black  Sport              7
2    3       Ford    Fiesta    Blue  Sedan              2
3    4       Ford     Focus    Blue  Sedan              1
4    5       Ford   Mustang     Red  Sport              4
5    6       Ford    Fiesta    Blue  Sedan              8
6    7       Ford     Focus   Black  Sedan              6
7    8       Ford   Mustang     Red  Sport              1
8    9       Ford    Fiesta   White  Sedan             10
9   10       Ford     Focus   White  Sedan              8
10  11       Ford   Mustang   Black  Sport              5
11  12       Ford    Fiesta   Black  Sedan             10
12  13       Ford     Focus   White  Sedan              4
13  14       Ford   Mustang   Black  Sport              9
14  15       Ford    Fiesta    Blue  Sedan              3
15  16  Chevrolet    Camaro   Black  Sport             10
16  17  Chevrolet  Corvette  Yellow  Sport             10
17  18  Chevrolet    Impala    Blue  Sedan              2
18  19  Chevrolet    Camaro     Red  Sport             10
19  20  Chevrolet  Corvette   Black  Sport              3
20  21  Chevrolet    Impala    Blue  Sedan              5
21  22  Chevrolet    Camaro     Red  Sport              8
22  23  Chevrolet  Corvette  Yellow  Sport              6
23  24  Chevrolet    Impala   Black  Sedan              2
24  25  Chevrolet    Camaro   Black  Sport              6
25  26  Chevrolet  Corvette     Red  Sport              7
26  27  Chevrolet    Impala    Blue  Sedan              7
27  28  Chevrolet    Camaro   Black  Sport             10
28  29  Chevrolet  Corvette   Black  Sport              5
29  30  Chevrolet    Impala   Black  Sedan              2

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             30 non-null     int64
 1   Make           30 non-null     object
 2   Model          30 non-null     object
 3   Color          30 non-null     object
 4   Type           30 non-null     object
 5   Accident Rate  30 non-null     int64
dtypes: int64(2), object(4)
memory usage: 1.5+ KB

# 🐼 
### Print every group using the print function

For this exercise, you are to group the data by color and print the data using the print function along with **apply**. Notice that we are not performing any aggregation, we are just printing the groups so that we can easily see how the data was grouped.

In [14]:
df.groupby("Color").apply(print)

    Id       Make     Model  Color   Type  Accident Rate
0    1       Ford     Focus  Black  Sedan              3
1    2       Ford   Mustang  Black  Sport              7
6    7       Ford     Focus  Black  Sedan              6
10  11       Ford   Mustang  Black  Sport              5
11  12       Ford    Fiesta  Black  Sedan             10
13  14       Ford   Mustang  Black  Sport              9
15  16  Chevrolet    Camaro  Black  Sport             10
19  20  Chevrolet  Corvette  Black  Sport              3
23  24  Chevrolet    Impala  Black  Sedan              2
24  25  Chevrolet    Camaro  Black  Sport              6
27  28  Chevrolet    Camaro  Black  Sport             10
28  29  Chevrolet  Corvette  Black  Sport              5
29  30  Chevrolet    Impala  Black  Sedan              2
    Id       Make   Model Color   Type  Accident Rate
2    3       Ford  Fiesta  Blue  Sedan              2
3    4       Ford   Focus  Blue  Sedan              1
5    6       Ford  Fiesta  Blue  Sedan              8
14  15       Ford  Fiesta  Blue  Sedan              3
17  18  Chevrolet  Impala  Blue  Sedan              2
20  21  Chevrolet  Impala  Blue  Sedan              5
26  27  Chevrolet  Impala  Blue  Sedan              7
    Id       Make     Model Color   Type  Accident Rate
4    5       Ford   Mustang   Red  Sport              4
7    8       Ford   Mustang   Red  Sport              1
18  19  Chevrolet    Camaro   Red  Sport             10
21  22  Chevrolet    Camaro   Red  Sport              8
25  26  Chevrolet  Corvette   Red  Sport              7
    Id  Make   Model  Color   Type  Accident Rate
8    9  Ford  Fiesta  White  Sedan             10
9   10  Ford   Focus  White  Sedan              8
12  13  Ford   Focus  White  Sedan              4
    Id       Make     Model   Color   Type  Accident Rate
16  17  Chevrolet  Corvette  Yellow  Sport             10
22  23  Chevrolet  Corvette  Yellow  Sport              6

Empty DataFrame
Columns: []
Index: []

# 🐼🐼
### Compute totals and percentages

# 🐼🐼🐼
### Group by columns without using any agg function

# 🐼🐼🐼🐼
### Apply different functions given different conditions